#!/usr/bin/make -f

#export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DLIBPOLY_BUILD_PYTHON_API=OFF  -DLIBPOLY_BUILD_STATIC_PIC=OFF

override_dh_clean:
	rm -f include/version.h
	dh_clean

override_dh_strip:
	 dh_strip --dbg-package=libpoly-dbg
